<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="customgame" xml:lang="ro">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <link type="seealso" xref="gametypes"/>
    <desc>Începerea unei colecții de jocuri personalizate.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-20" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>  
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2010, 2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Selectarea personalizată a jocului</title>
  <p>Este posibil să jucați o colecție de jocuri personalizate în <app>gbrainy</app>.</p>
  <p>Pentru a face asta, procedați după cum urmează:</p>
  <steps>
    <item>
      <p>Selectați <guiseq><gui style="menu">Joc</gui><gui style="menuitem">Joc nou</gui> <gui style="menuitem">Selectare personalizată a jocului</gui></guiseq>.</p>
    </item>
    <item>
      <p>În dialogul <gui>Joc personalizat</gui>, selectați jocurile pe care doriți să le jucați apăsând pe căsuțele de bifare din dreptul numelui fiecărui joc.</p>
    </item>
    <item>
      <p>Odată ce ați terminat, apăsați pe <gui style="button">Start</gui> pentru a începe să jucați colecția dumneavoastră de jocuri personalizate.</p>
    </item>
  </steps>
</page>
