<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="tips" xml:lang="ro">
      
  <info>
    <link type="guide" xref="index#tips"/>
    <link type="seealso" xref="newgame"/>
    <desc>Folosiți indicii pentru a rezolva puzzle-uri.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-21" status="draft"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="review"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2010, 2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Indicii</title>
  <p>În unele jocuri, este posibil să primiți indicii simple care vă pot ajuta sa rezolvați problema.</p>
  <p>Când jucați un joc, apăsați pe butonul <gui style="button">Indiciu</gui> de la baza ferestrei (lângă intrarea de text <gui style="input">Răspuns</gui>).</p>
  <note>
    <p>Această funcționalitate nu este disponibilă pentru unele jocuri.</p>
  </note>
</page>
