<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="multiplayer" xml:lang="fr">

  <info>
    <link type="guide" xref="index#multi"/>
  	<desc>Comment jouer avec d'autres personnes.</desc>
  	<!-- Taken from GNOME Tetravex -->
    <revision pkgversion="2.30" version="0.1" date="2009-12-18" status="draft"/> 
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2010-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2010-2011</mal:years>
    </mal:credit>
  </info>

  <title>Jeu avec d'autres personnes</title>

  <p>Il n'est pas possible de jouer contre d'autres personnes sur Internet ou dans un réseau local avec <app>gbrainy</app>.</p>
</page>
