<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="customgame" xml:lang="de">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <link type="seealso" xref="gametypes"/>
    <desc>Eine eigene Auswahl an Spielen starten.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-20" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>  
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Paul Seyfert</mal:name>
      <mal:email>pseyfert@mathphys.fsk.uni-heidelberg.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Eigene Spielauswahl</title>
  <p>Es ist möglich, eine eigene Auswahl an Übungen in <app>gbrainy</app> zu erstellen.</p>
  <p>Um dies zu erreichen, gehen Sie wie folgt vor:</p>
  <steps>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Spiel</gui><gui style="menuitem">Neues Spiel</gui><gui style="menuitem">Eigenes Spiel erstellen</gui></guiseq>.</p>
    </item>
    <item>
      <p>Wählen Sie im Dialog <gui>Eigenes Spiel</gui> die Spiele, die Sie gerne spielen möchten, durch Klicken auf das Ankreuzfeld neben dem Namen des Spiels.</p>
    </item>
    <item>
      <p>Sobald Sie fertig sind, klicken Sie auf <gui style="button">Start</gui>, um mit dem Spielen Ihrer eigenen Auswahl zu beginnen.</p>
    </item>
  </steps>
</page>
