<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pause" xml:lang="es">
      
  <info>
    <title type="sort">4</title>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <desc>Cómo pausar o finalizar un juego.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Mustieles</mal:name>
      <mal:email>daniel.mustieles@gmail.com</mal:email>
      <mal:years>2010-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jorge González</mal:name>
      <mal:email>jorgegonz@svn.gnome.org</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  </info>

  <title>Pausar/finalizar un juego</title>

  <section id="pause-pause">
    <title>Pausar y resumir un juego</title>
    <p>Para pausar un juego y que puedas resumirlo en el mismo punto más tarde, realiza una de las siguientes:</p>
    <list>
      <item>
        <p>Elije <guiseq><gui style="menu">Juego</gui><gui style="menuitem">Pausar el juego</gui></guiseq>.</p>
      </item>
      <item>
        <p>Pulsa el botón <gui style="button">Pausar</gui> en la barra de herramientas.</p>
      </item>
    </list>
    <p>Para resumir el juego después de pausarlo realiza una de las siguientes:</p>
    <list>
      <item>
        <p>Elije <guiseq><gui style="menu">Juego</gui><gui style="menuitem">Pausar el juego</gui></guiseq>.</p>
      </item>
      <item>
        <p>Pulsa el botón <gui style="button">Reanudar</gui> en la barra de herramientas.</p>
      </item>
    </list>
  </section>
  
  <section id="pause-stop">
    <title>Finalizar un juego</title>
    <p>Para finalizar un juego, nuevo haz uno de los siguientes:</p>
    <list>
      <item>
        <p>Elije <guiseq><gui style="menu">Juego</gui><gui style="menuitem">Finalizar el juego</gui></guiseq>.</p>
      </item>
      <item>
        <p>Pulsa el botón <gui style="button">Finalizar</gui> en la barra de herramientas.</p>
      </item>
    </list>
  </section>
</page>
