<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="difficulty" xml:lang="sr-Latn">
      
  <info>
    <title type="sort">2</title>
    <link type="guide" xref="index#play"/>
    <desc>Promenite nivo težine igre.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-20" status="review"/>
   <credit type="author">
    <name>Milo Kazagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>„Creative Commons Share Alike 3.0“</p>
   </license>
  </info>

  <title>Nivoi težine</title>
  <p>Da promenite nivo težine igre, uradite sledeće:</p>
  <steps>
    <item>
      <p>Izaberite „<guiseq><gui style="menu">Postavke</gui><gui style="menuitem">Podešavanja</gui></guiseq>“.</p>
    </item>
    <item>
      <p>U odeljku „<gui>Nivo teškoće</gui>“, izaberite željeni nivo.</p>
      <p>Možete izabrati između tri različita nivoa: <gui style="radiobutton">Lako</gui>, <gui style="radiobutton">Srednje</gui> i <gui style="radiobutton">Teško</gui>. Podrazumevani nivo je <gui style="radiobutton">Srednje</gui>.</p>
    </item>
  </steps>
</page>
