<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="multiplayer" xml:lang="sr-Latn">

  <info>
    <link type="guide" xref="index#multi"/>
  	<desc>Kako igrati sa drugima.</desc>
  	<!-- Taken from GNOME Tetravex -->
    <revision pkgversion="2.30" version="0.1" date="2009-12-18" status="draft"/> 
    <credit type="author">
      <name>Milo Kazagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>„Creative Commons Share Alike 3.0“</p>
    </license>
  </info>

  <title>Igrati sa drugima</title>

  <p>Nije moguće igrati protiv drugih ljudi na Internetu ili na lokalnoj mreži sa <app>g-kefalom</app>.</p>
</page>
