<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="license" xml:lang="it">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="2.30" version="0.1" date="2009-12-28" status="draft"/>
    <desc>Informazioni legali.</desc>
  </info>

  <title>Licenza</title>
  <p>Questa opera è distribuita secondo la licenza CreativeCommons Attribuzione - Condividi allo stesso modo 3.0 Unported.</p>
  <p>Siete liberi di:</p>
  <terms>
    <item>
      <title>Condividere</title>
      <p>Copiare, distribuire e trasmettere l'opera.</p>
    </item>
    <item>
      <title>Modificare</title>
      <p>Modificare l'opera.</p> 
    </item>
  </terms>
  <p>Secondo i seguenti termini:</p>
  <terms>
    <item>
      <title>Attribuzione</title>
      <p>Devi attribuire la paternità dell'opera nei modi indicati dall'autore o da chi ti ha dato l'opera in licenza e in modo tale da non suggerire che essi avallino te o il modo in cui tu usi l'opera.</p>
    </item>
    <item>
      <title>Condividi allo stesso modo</title>
      <p>Se alteri o trasformi quest'opera, o se la usi per crearne un'altra, puoi distribuire l'opera risultante solo con una licenza identica o equivalente a questa.</p>
    </item>
  </terms>
  <p>
    <!-- Translators: there are no official localized versions of the legal code, only the deed is localized. -->
    For the full text of the license, see the 
    <link href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">CreativeCommons website</link>,
    or read the full <link href="https://creativecommons.org/licenses/by-sa/3.0/">Commons Deed</link>.
  </p>
</page>
