<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="customgame" xml:lang="cs">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <link type="seealso" xref="gametypes"/>
    <desc>Jak spustit vlastní výběr her.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-20" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>  
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009 – 2011</mal:years>
    </mal:credit>
  </info>

  <title>Vlastní výběr her</title>
  <p>A aplikaci <app>gbrainy</app> je možné hrát i vlastní výběr ze všech her.</p>
  <p>Udělá se to následovně:</p>
  <steps>
    <item>
      <p>Zvolte <guiseq><gui style="menu">Hra</gui> <gui style="menuitem">Nová hra</gui> <gui style="menuitem">Vlastní kombinace úloh ve hře</gui></guiseq>.</p>
    </item>
    <item>
      <p>V dialogovém okně <gui>Vlastní hra</gui> vyberte klikáním na zaškrtávací pole vedle názvů her ty hry, které byste chtěli hrát</p>
    </item>
    <item>
      <p>Až jste hotovi, klikněte na tlačítko <gui style="button">Začít</gui> a začnete hrát svůj vlastní výběr her.</p>
    </item>
  </steps>
</page>
